* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  color: #4F4F4F;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.jakarta, .btn, #first-section .woman-wrap .name-block .position, #first-section .woman-wrap .name-block .name, #first-section .woman-wrap .name-block, #first-section .first-content p, #first-section .subtitle-text {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a, button {
  cursor: pointer;
  transition: all 0.5s ease;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-search-wrap {
  display: flex;
  gap: 110px;
  align-items: center;
  justify-content: flex-end;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.main-menu a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #2D2F30;
  position: relative;
}
.main-menu a::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  left: 12px;
  height: 1px;
  width: 0;
  background-color: #2D2F30;
  transition: all 0.2s ease;
}
.main-menu a:hover::after {
  width: calc(100% - 24px);
}

.search-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
.search-btn path {
  stroke: #2D2F30;
}
.search-btn:hover path {
  stroke: #094B72;
}

main {
  padding-top: 100px;
}

.first-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  gap: 115px;
}

#first-section .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#first-section .suptitle-text {
  display: inline-block;
  height: 40px;
  line-height: 28px;
  padding: 6px 21px 6px 6px;
  background-color: #E7F6FF;
  border-radius: 20px;
  font-size: 0.875rem;
  color: #193E6C;
  margin-bottom: 16px;
}
#first-section .suptitle-text span {
  display: inline-block;
  background-color: #094B72;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  color: #fff;
  padding: 0 29px;
  margin-right: 5px;
}
#first-section .subtitle-text {
  width: 100%;
  max-width: 590px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 158%;
  letter-spacing: 0.5px;
  margin-bottom: 42px;
}
#first-section .first-content p {
  font-size: 1.375rem;
  color: #8B8C8C;
  margin-bottom: 34px;
}
#first-section .first-content .company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  width: 240px;
}
#first-section .first-content .company-list img {
  object-fit: contain;
}
#first-section .woman-wrap {
  margin-top: 45px;
  position: relative;
  left: -85px;
  z-index: -1;
  align-self: flex-end;
}
#first-section .woman-wrap::before, #first-section .woman-wrap::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
#first-section .woman-wrap::before {
  width: 811px;
  height: 811px;
}
#first-section .woman-wrap::after {
  width: 633px;
  height: 633px;
}
#first-section .woman-wrap .name-block {
  filter: drop-shadow(0px 39px 100px rgba(25, 62, 108, 0.12));
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 382px;
}
#first-section .woman-wrap .name-block .name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
}
#first-section .woman-wrap .name-block .position {
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
}

.first-top h1 {
  font-family: "Playfair Display";
  font-size: 5.625rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094B72;
  margin-bottom: 46px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
  color: #F9F8F9;
  padding: 0 36px;
  background-color: #094B72;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #094B72;
}
.btn:hover {
  color: #094B72;
  box-shadow: 0 0 0 40px inset #f9f9f9;
}

#second-section {
  margin-top: 100px;
}
#second-section .container {
  display: flex;
  gap: 53px;
}
#second-section .left {
  max-width: 420px;
}
#second-section .left .title h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 64px;
  letter-spacing: 0.323077px;
}
#second-section .left .text p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
}
#second-section .right {
  max-width: 550px;
}
#second-section .right .title {
  margin-bottom: 10px;
}
#second-section .menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
#second-section .menu li {
  max-width: 256px;
  border: 1px solid;
  border-radius: 8px;
  padding: 24px;
}