@media screen and (max-width: 1077px) {
    .skills_ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .skills-item {
        margin-right: 0;
    }
    .container {
        padding: 40px;
    }
   
}