 @media screen and (max-width: 1077px) {
    .skills_ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
     }
    .skills-item {
        margin-right: 0;
    }
    .container {
        padding: 40px;
    }
   
} 

@media screen and (max-width: 580px) {
    .skills_ul {
        justify-content: center;
    }
}

