$max-width: 1170px ;
$header-div-color: #898F8F ;
$h1-color: #FFCC00 ;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    


.container {
    max-width: $max-width;
}
header div {
    color: $header-div-color;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    
}
header h1 {
    color: $h1-color;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 60px;
}
header img {
    display: block;
    margin: auto;
    margin-top: -24px;
    
}
.border-bottoml {
    width: 210px;
    border-bottom: 1px solid gold;
    margin-left: 360px;
    margin-top: 38px;
}
.border-bottomr {
    width: 210px;
    border-bottom: 1px solid gold;
    margin-left: 600px;
    margin-top: -16px;
}


p {
    text-align: center;
}
 img {
    
    overflow: hidden;
    margin-left: 86px;
    margin-top: -82px;
    display: block;
    
    
}
.photo.left1 {
    border-left: 1px solid 
    gold;
    border-top: 1px solid
     gold;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    margin-bottom: -100px;
    

}
.photo.right1 {
    border-right: 1px solid 
    gold;
    border-top: 1px solid 
    gold; 
    width: 100px;
    height: 100px; 
    margin-left: 403px;
    
    
    
}

.photo.left2 {
    border-left: 1px solid 
    gold;
    border-bottom: 1px solid 
    gold;
    width: 100px;
    height: 100px;
    margin-left: 70px;
    margin-top: -83px;
    
    
} 
.photo.right2 {
    border-right: 1px solid 
    gold;
    border-bottom: 1px solid 
    gold;
    width: 100px;
    height: 100px;
    margin-left: 400px;
    margin-top: -100px ;

}



 span {
    font-family: 'Raleway';
    margin-left: 775px;
    font-weight: 400;
    font-size: 24px;
    
 }
 p {
    font-family: 'Raleway';
    margin-left: 600px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    
 }
 .info h1 {
    font-family: 'Roboto';
    margin-left: 770px;
    margin-top: -430px;
    font-weight: 900;
    font-size: 36px;
    
 }

.image {
    padding-top: 100px;
}
.border-h1 {
    width: 100px;
    border-bottom: 1px solid gold;
    margin-top: 23px;
    margin-left: 837px;
    margin-bottom: 33px;
}
.text {
    margin-top: 109px;
}
.small_left {
    width: 10px;
    height: 4px;
    background-color: #FFCC00;
}
.small_center {
    width: 20px;
    height: 4px;
    background-color: #FFCC00;
}
.small_right {
    width: 10px;
    height: 4px;
    background-color: #FFCC00;
}

ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    
    
}
.border_under_info {
    margin-left: 860px;
    margin-top: 2px;
}
footer {
    margin-left: 827px;
    margin-top: -93px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid gold;
    width: 118px;
    height: 24px;
    padding: 3  px;
    
}
.border-left {
    height: 560px;
    border-left: 1px solid gold;
    margin-left: 585px;
    margin-top: -445px;
    
}