* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
}

a, button {
  cursor: pointer;
  transition: all 2s ease;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

#mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 4px 4px #999;
  z-index: 1000;
  width: 300px;
  height: 100vh;
  transform: translateX(-310px);
  transition: all 0.4s ease;
}

#mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu-list ul li {
  border-bottom: 1px solid #e0e0e0;
}

.mobile-menu-list ul li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
#header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0;
}
#header .main-menu {
  gap: 38px;
  display: flex;
  justify-content: space-between;
}
#header a {
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 0.3em;
  color: #000;
  position: relative;
}
#header a::after {
  content: "";
  position: absolute;
  display: block;
  left: 12px;
  height: 1px;
  width: 0;
  background-color: #000;
  transition: all 0.4s ease;
}
#header a:hover::after {
  width: calc(100% - 25px);
}
#header .nav-wrap {
  display: flex;
  gap: 80px;
}

.btn-wrap {
  display: flex;
  gap: 40px;
}
.btn-wrap .btn {
  background-color: transparent;
  border: none;
}

main {
  padding-top: 96px;
  display: flex;
  gap: 90px;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Red Hat Display";
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 38px;
}

.info-wrap p, .info-wrap span {
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1rem;
  line-height: 27px;
}
.info-wrap p {
  color: #565656;
}
.info-wrap span {
  color: #7B7B7B;
  letter-spacing: 0.1em;
}

.small span {
  font-size: 0.75rem;
}

.section-1 {
  background: #cde8e8 url(../images/bg-image.png) center center/cover no-repeat;
  height: 39.16vw;
}
.section-1 .container {
  height: 100%;
  padding-top: 6.74vw;
}
.section-1 .title {
  max-width: 770px;
  width: 100%;
}
.section-1 .title h1 {
  font-family: "Red Hat Display";
  font-size: 3rem;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.section-2 .to-right {
  float: right;
}
.section-2 h1 {
  margin-bottom: 50px;
  font-family: "Red Hat Display";
  font-size: 3rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.05em;
}
.section-2 .title {
  margin-top: 24px;
  margin-bottom: 8px;
}
.section-2 .info-wrap {
  padding-top: 84px;
  width: 100%;
}
.section-2 .text {
  margin-top: 47px;
  max-width: 450px;
  position: relative;
}
.section-2 .text .arrow {
  background-color: transparent;
  border-bottom: 2px solid #7B7B7B;
  height: 12px;
  position: absolute;
  width: 23px;
}
.section-2 .text .arrow::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
  position: relative;
  display: block;
  left: 15px;
  top: 7.3px;
  transform: rotate(45deg);
}
.section-2 .arrow {
  margin-left: 18px;
  bottom: 11px;
}
.section-2 .image-wrap {
  max-width: 570px;
  width: 100%;
}
.section-2 .title {
  max-width: 370px;
}
.section-2 .content {
  display: flex;
  gap: 30px;
  width: 100%;
}
.section-2 .content.first {
  margin-bottom: 50px;
}

.section-3 .top {
  display: flex;
  padding-bottom: 37px;
  justify-content: space-between;
}
.section-3 .view-all {
  position: relative;
  right: 43px;
  top: 8px;
}
.section-3 .view-all .arrow {
  background-color: transparent;
  border-bottom: 2px solid #7B7B7B;
  height: 12px;
  position: absolute;
  width: 23px;
}
.section-3 .view-all .arrow::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
  position: relative;
  display: block;
  left: 15px;
  top: 7.3px;
  transform: rotate(45deg);
}
.section-3 .view-all p {
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.section-3 .arrow {
  margin-left: 20px;
}
.section-3 h3 {
  font-family: "Red Hat Display";
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 37px;
}
.section-3 .post.reverse {
  display: flex;
  flex-direction: column-reverse;
}
.section-3 .post-wrapper {
  display: flex;
  gap: 30px;
}
.section-3 .post-wrapper .post {
  max-width: 370px;
  width: 100%;
}
.section-3 .small {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 22px;
}
.section-3 .small span {
  font-size: 0.75rem;
}
.section-3 .text {
  margin-top: 20px;
}

.small {
  display: flex;
  justify-content: space-between;
}

.section-4 {
  margin-top: 22px;
}
.section-4 .top {
  display: flex;
  padding-bottom: 42px;
  justify-content: space-between;
}
.section-4 .view-all {
  position: relative;
  right: 43px;
  top: 8px;
}
.section-4 .view-all .arrow {
  background-color: transparent;
  border-bottom: 2px solid #7B7B7B;
  height: 12px;
  position: absolute;
  width: 23px;
}
.section-4 .view-all .arrow::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
  position: relative;
  display: block;
  left: 15px;
  top: 7.3px;
  transform: rotate(45deg);
}
.section-4 .view-all p {
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.section-4 .arrow {
  margin-left: 20px;
}
.section-4 h3 {
  font-family: "Red Hat Display";
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
}
.section-4 .content {
  display: flex;
  gap: 30px;
}
.section-4 .small {
  display: flex;
}
.section-4 .content-first,
.section-4 .content-second {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-4 .content-first .info-wrap,
.section-4 .content-second .info-wrap {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.section-4 .content-second .display {
  display: none;
}
.section-4 .content-second .text {
  max-width: 540px;
}
.section-4 .button-wrap {
  text-align: center;
  width: 100%;
  padding-top: 52px;
}
.section-4 .button-wrap button {
  border: none;
  padding: 9.5px 45px;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 27px;
  background-color: #565656;
}
.section-4 .button-wrap button:hover {
  color: #565656;
  box-shadow: 0 0 0 40px inset #f9f9f9;
  border: 1px solid #565656;
}

.section-5 .text {
  max-width: 470px;
  width: 100%;
}
.section-5 .text.left {
  font-family: "Red Hat Display";
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.1em;
}
.section-5 .text.left .arrow {
  background-color: transparent;
  border-bottom: 2px solid #7B7B7B;
  height: 12px;
  position: absolute;
  width: 23px;
}
.section-5 .text.left .arrow::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
  position: relative;
  display: block;
  left: 15px;
  top: 7.3px;
  transform: rotate(45deg);
}
.section-5 .text.left .arrow {
  margin-top: 10px;
}
.section-5 .text.right {
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1.1875rem;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-5 .container {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 90px;
  padding-bottom: 50px;
  background-color: #F4F4F4;
}
footer .last {
  text-align: center;
  padding-top: 20px;
  position: relative;
  right: 4px;
}
footer .last p {
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
}
footer .contact-us a {
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #000;
}

.footer {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}
.footer h1 {
  font-family: "Red Hat Display";
  font-size: 3rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.05em;
}
.footer .title {
  margin-bottom: 30px;
}
.footer .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .fonts {
  padding-top: 47px;
  display: flex;
  gap: 23px;
}
.footer .fonts li {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  position: relative;
  top: 10px;
}
.footer .fonts li:hover {
  background-color: #565656;
}
.footer .fonts li:hover i {
  color: #fff;
}
.footer .fonts li i {
  color: #565656;
  font-size: 1.8125rem;
}
.footer .fonts li i.fa-facebook-f {
  font-size: 1.5625rem;
  position: relative;
  left: 5px;
}
.footer .fonts li a {
  position: relative;
  top: 10px;
  left: 10px;
}

.hamburger {
  display: block;
  border: none;
  background: none;
  position: relative;
  width: 34px;
  height: 20px;
  z-index: 1001;
}
.hamburger::before, .hamburger::after, .hamburger span {
  content: "";
  display: inline-block;
  width: 34px;
  height: 2px;
  position: absolute;
  background-color: #000;
  transition: all 0.2s ease;
}
.hamburger::before {
  top: 2px;
}
.hamburger span {
  top: 18px;
}
.hamburger::after {
  bottom: 8px;
}
.hamburger.active span {
  transform: scale(0);
}
.hamburger.active::before {
  transform: rotate(-45deg);
  top: 10px;
}
.hamburger.active::after {
  transform: rotate(45deg);
  bottom: 7px;
}

#shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.7s ease;
  opacity: 0;
  visibility: hidden;
}

#shadow.show {
  display: block;
  opacity: 1;
  visibility: visible;
}