$base-size: 16;
$base-color: #fff;
$input-color:  #999999;
$blue: #5373FD;
$grey-color: #333333;
$black-color: #000000;

@mixin fz($size_px) {
  font-size: ($size_px / $base-size) * 1rem;
}
@mixin josefin {
  font-family: 'Josefin Sans';
  
}
@mixin aleo {
    font-family: 'Aleo';
    font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;


}

body {
  @include fz(16);
}

a, button {
  cursor: pointer;
  transition: all .5s ease;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
button {
  &:hover {
    color:#565656 ;
    box-shadow: 0 0 0 40px inset #000;
    border: 1px solid #565656;
    transition: all .5s ease;
  }
}
.container {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}

#mobile-menu {
  
  position: fixed;
  left: 0;
  top: 0;
  background-color: #5373FD;
  box-shadow: 0 0 1px 1px #999;
  z-index: 1000;
  width: 576px;
  height: 300px;
  transform: translateY(-320px);
  transition: all .4s ease;
}
#mobile-menu.open {
  transform: translateY(0);
}


#mobile-menu-list  {
  text-align: center;
  a {
    color: $base-color;
    @include fz(14);
    line-height: 20px;
    letter-spacing: 0.1em;
    @include aleo();
    text-transform: uppercase;
  }
  .main.title {
    h1 {
      @include josefin();
    @include fz(24);
    line-height: 28px;
    letter-spacing: 0.1em;
    font-weight: 700;
    }
    
    margin-top: 32px;
    margin-bottom: 56px;
    text-align: center;
  }
  .main-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  text-transform: uppercase;
  color: #fff;
  
}



///////////////////////== <HEADER>  ==////////////////////////////////////////

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .scroll-down {
    margin-top: 211px;
    position: relative;
    text-align: center;
    @include josefin();
    @include fz(14);
    line-height: 20px;
    letter-spacing: 0.2em;
    a {
      color: $base-color;
    }
    &::after {

      content: '';
      margin-left: -6px;
      width: 8px;
      height: 8px;
      border-right: 3.5px solid #fff;
      border-bottom: 3.5px solid #fff;
      position: absolute;
      transform: rotate(45deg);
      border-radius: 2px;
      
    }
  }
 
}

.background {
  height: 56vw;
  background:  #0472AD url(../image/HeaderBackground.png) center center / cover no-repeat;
}

.search {
  
  &__form {
    display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  
  }

  &__container {
    &:hover {
      border-radius: 3px;
        border: 1px solid $blue;
      
    }
    margin-top: 48px;
    background: #fff;
    max-width: 647px;
    padding: 5px 3px 5px 35px;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  &__input {
    border: none;
     &:focus-visible {
      outline: none;
  }
  @include josefin();
  font-weight: 400;
  @include fz(14);
  line-height: 20px;
  letter-spacing: 0.2em;
  color: $input-color;
  width: 100%;
}
}
.header-top {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 719px;
  text-align: center;
  margin-top: 295px;
  
.suptitle {
  margin-top: 8px;
  position: relative;
  left: 3px;
}
  h1 {
    @include josefin();
    @include fz(48);
    font-weight: 700;
    line-height: 52px;
    color: $base-color;
    text-transform: uppercase
  }
  p {
    @include josefin();
    @include fz(22);
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.31em;
    color: $base-color;
  }
  .button {
    display: flex;
    gap: 12px;
    padding: 16px 24px;
    background-color: $blue;
    border: none;
    @include aleo();
    @include fz(14);
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $base-color;
    
   
    svg {
      width: 17px;
      height: 16px;
      fill: #fff;
    }
  }
  a {
    transition: all .5 ease;
  }
}

.header-bottom {
  display: flex;
  background-color: $blue;
  height: 84px;

  h1 {
    @include josefin();
    @include fz(24);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $base-color;
    text-transform: uppercase
  }
  a {
    @include aleo();
    @include fz(14);
    line-height: 20px;
    letter-spacing: 0.1em;
    color: $base-color;
    text-transform: uppercase;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      display: block;
      left: 12px;
      height: 1px;
      width: 0;
      background-color: #fff;
      transition: all .4s ease;
  }
  &:hover{
    &::after{
      width:  calc(100% - 25px);
    }
  }

  }
  .container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  
  
  ul  {
    display: flex;
    gap: 40px;

  }
}

///////////////////////== </HEADER>  ==////////////////////////////////////////


main {
  .button-wrap {
    button {
      background-color: $blue;
          
          @include aleo();
          @include fz(16);
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: $base-color;
          border: none;
          
    }
  }
}




///////////////////////== <SECTION1>  ==////////////////////////////////////////




.section1 {
  
  h2 {
    @include aleo();
    @include fz(36);
    line-height: 40px;
    color: $base-color;
  }
  p {
    @include josefin();
    font-size: $base-size;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $base-color;

  }
  button {
    padding: 20px 33px;
  }
  height: 45.6vw;
  background: #3E3C3C url(../image/WhyBackground2sec.png) center center / cover no-repeat;
  
    
    .container {
      display: flex;
      gap: 136px;
    }

   
  
  .info {
    max-width: 648px;
    margin-bottom: 33px;
    .suptitle {
      margin-top: 26px;
     display: flex;
     flex-direction: column;
     gap: 27px;
    }
  }
  .container {
    .left {
      margin-top: 190px;
    }
    .right {
      margin-top: 124px;
      max-width: 424px;
      width: 100%;
      .image-wrap:first-child {
        margin-bottom: 16px;
      }
  }
  }

.image-wrap {
  &.first {
    float: left;
  }
  &.second {
    float: right;
  }
  max-width: 350px;
  width: 100%;
}
}



///////////////////////== </SECTION1>  ==////////////////////////////////////////



///////////////////////== SECTION2  ==////////////////////////////////////////


.section2 {
  .container {
    padding-top: 24px;
    padding-bottom: 61px;
  }
  background-color: $grey-color;
    ul li {
      max-width: 424px;
      width: 100%;
    }
    .dash-arrows {
      position: relative;
      
      svg {
        stroke:#fff;
        
        width: 872px;
        height: 144px;
        
      }
    }
    
    .dash-arrows {
      position: relative;
       top: 12px;
        height: 104px;
         max-width: 872px;
         margin-left: auto;
         margin-right: auto;
    }
    .text {
      padding-top: 10px;
    }
    .icons-wrapper {
      position: relative; 
      z-index: 10; 
      background: #333333;
    }
   .icons {
    display: flex; 
    gap: 27px;
    @include aleo();
    @include fz(36);
    line-height: 40px;
    color: $base-color;
    text-align: center;
    svg {
      width: 64px;
      height: 64px;
      
      &:first-child {
        fill: #5373FD;
        
      }
    }
   }
  }



///////////////////////== </SECTION2>  ==////////////////////////////////////////



///////////////////////== <SECTION3>  ==////////////////////////////////////////

.section3 {
  background: #A19EB9 url(../image/sec2-back.png) center center / cover no-repeat ;
  height: 44.5vw;

}

.section3 , .section4 {
  .info {
    opacity: 0.9;
    position: relative;
    top: 220px;
    padding: 44px 32px;
    max-width: 648px;
    width: 100%;
    background: #232323;
  }

  .suptitle {
    max-width: 584px;
    width: 100%;
      
      p {
        @include josefin();
        font-weight: 300;
        @include fz(16);
        line-height: 28px;
        letter-spacing: 0.1em;
        color: $base-color;
      }
      
    
  }
        span {
          @include josefin();
        @include fz(20);
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.1em;
        color: $base-color;
        }
        h2 {
          @include josefin();
          @include fz(20);
          line-height: 28px;
          font-weight: 400;
          text-transform: uppercase;
          color: $base-color;
        }
        .button-wrap {
          button {
            padding: 20px 56px ;
            margin-top: 24px;
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
}


///////////////////////== </SECTION3>  ==////////////////////////////////////////


///////////////////////== <SECTION4>  ==////////////////////////////////////////


.section4 {
  background: #FDA78C url(../image/sec3-back.png) center center / cover no-repeat;
  height: 44.5vw;
  .info {
    float: right;
    position: relative;
    top: 220px;
  }
}

///////////////////////== </SECTION4>  ==////////////////////////////////////////



///////////////////////== <SECTION5>  ==////////////////////////////////////////


.section5 {
  .container {
    padding-top: 120px;
  }
  background: #27292A url(../image/sec4-back.png) center center / cover no-repeat;
  height: 44.3vw;
  .left {
    max-width: 440px;
    width: 100%;
  }
  .content {
    display: flex;
  }
  .title {
    text-align: center;
    
    margin-bottom: 60px;
  }
  h1 {
    @include aleo();
    @include fz(36);
    line-height: 40px;
    color: $base-color;
  }

  .right {
    background-color: $grey-color;
    padding: 48px 60px;
    max-width: 880px;
    width: 100%;
    h3 {
      @include josefin();
      @include fz(20);
      line-height: 28px;
      color: $base-color;
    }
    p {
      @include josefin();
      @include fz(16);
      font-weight: 300;
      line-height: 28px;
      letter-spacing: 0.1em;
      color: $base-color;
    }
    .title {
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: left;
    }
    .suptitle {
      max-width: 760px;
    }
  }

  svg {
  
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    bottom: 5px;
    fill: #5373FD;
  
  }
}



///////////////////////== </SECTION5>  ==////////////////////////////////////////


///////////////////////== <FOOTER>  ==////////////////////////////////////////


footer {
  padding-bottom: 80px;
  .container {
    text-align: center;
    padding-top: 80px;
  }
  background-color: $black-color;
  .title {
    margin-bottom: 8px;

  }
  .icons-wrapper {
    
    max-width: 275px;
    margin:  0 auto;
    margin-top: 20px;
  }
  .icons {
    display: flex;
    gap: 33.5px;
    
    a {
      @include fz(30);
      color: $base-color;
      &:hover {
        color: $blue;
      }
    }
  }
  h1 {
    text-transform: uppercase;
    @include josefin();
    @include fz(24);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $base-color;
  }

  
    .suptitle {
      @include josefin();
    @include fz(14);
    line-height: 20px;
    letter-spacing: 0.2em;
    color: $base-color;

    
      
    
    
    }
  

 

 
    
    
}



.hamburger  {
  // display: block;
  position: absolute;
  right: 18px;
  margin-top: -4px;
  display: none;
  border: none;
  background: none;
  position: relative;
  width: 40px;
  height: 24px;
  z-index: 1001;
  &::before, &::after, span {
    content: "";
    display: inline-block;
     width: 40px;
     height: 2px;
     position: absolute;
     background-color: #fff;
     transition: all .2s ease;
     

  }
  &::before {
    top: 2px;
  }
  span {
    top: 25px;
  }
  &::after {
    bottom: 8px;
  }
  &.active {
    span {
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: 12px;
    }
    &::after {
      transform: rotate(45deg);
      bottom: 10px;
    }
  }
}

#shadow {
  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all .7s ease;
  opacity: 0;
  visibility: hidden;
}
#shadow.show {
  display: block;
  opacity: 1;
  visibility: visible;
}