* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

body {
  font-size: 1rem;
}

a, button {
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#header .scroll-down {
  margin-top: 211px;
  position: relative;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
}
#header .scroll-down a {
  color: #fff;
}
#header .scroll-down::after {
  content: "";
  margin-left: -6px;
  width: 8px;
  height: 8px;
  border-right: 3.5px solid #fff;
  border-bottom: 3.5px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 2px;
}

.background {
  height: 56vw;
  background: url(../image/HeaderBackground.png) center center/cover no-repeat;
}

.search__form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.search__container {
  margin-top: 48px;
  background: #fff;
  max-width: 647px;
  padding: 5px 3px 5px 35px;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.search__input {
  border: none;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  width: 100%;
}
.search__input:focus-visible {
  outline: none;
}

.header-top {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 719px;
  text-align: center;
  margin-top: 295px;
}
.header-top .suptitle {
  margin-top: 8px;
  position: relative;
  left: 3px;
}
.header-top h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  text-transform: uppercase;
}
.header-top p {
  font-family: "Josefin Sans";
  font-size: 1.375rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.31em;
  color: #fff;
}
.header-top .button {
  display: flex;
  gap: 12px;
  padding: 16px 24px;
  background-color: #5373FD;
  border: none;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.header-top .button svg {
  width: 17px;
  height: 16px;
  fill: #fff;
}
.header-top a {
  transition: all 0.5 ease;
}

.header-bottom {
  display: flex;
  background-color: #5373FD;
  height: 84px;
}
.header-bottom h1 {
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}
.header-bottom a {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}
.header-bottom .container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.header-bottom ul {
  display: flex;
  gap: 40px;
}

main .button-wrap button {
  background-color: #5373FD;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.section1 {
  height: 45.6vw;
  background: url(../image/WhyBackground2sec.png) center center/cover no-repeat;
}
.section1 h2 {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #fff;
}
.section1 p {
  font-family: "Josefin Sans";
  font-size: 16;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
}
.section1 button {
  padding: 20px 33px;
}
.section1 .container {
  display: flex;
  gap: 136px;
}
.section1 .info {
  max-width: 648px;
  margin-bottom: 33px;
}
.section1 .info .suptitle {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.section1 .left {
  margin-top: 190px;
}
.section1 .right {
  margin-top: 124px;
  max-width: 424px;
  width: 100%;
}
.section1 .right .image-wrap:first-child {
  margin-bottom: 16px;
}

.image-wrap {
  max-width: 350px;
  width: 100%;
}
.image-wrap.first {
  float: left;
}
.image-wrap.second {
  float: right;
}

.section2 {
  background-color: #333333;
}
.section2 .container {
  padding-top: 23px;
  padding-bottom: 60px;
}
.section2 ul li {
  max-width: 424px;
  width: 100%;
}
.section2 svg {
  stroke: #fff;
  width: 100%;
}
.section2 .dash-arrows {
  height: 104px;
}
.section2 .text {
  padding-top: 10px;
}
.section2 .icons {
  display: flex;
  gap: 27px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #fff;
  text-align: center;
}
.section2 .icons svg {
  width: 64px;
  height: 64px;
}
.section2 .icons svg:first-child {
  fill: #5373FD;
}

.section3 {
  background: url(../image/sec2-back.png) center center/cover no-repeat;
  height: 44.5vw;
}

.section3 .info, .section4 .info {
  position: relative;
  top: 220px;
  padding: 44px 32px;
  max-width: 648px;
  width: 100%;
  background: #232323;
}
.section3 .suptitle, .section4 .suptitle {
  max-width: 584px;
  width: 100%;
}
.section3 .suptitle p, .section4 .suptitle p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
}
.section3 span, .section4 span {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
}
.section3 h2, .section4 h2 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.section3 .button-wrap button, .section4 .button-wrap button {
  padding: 20px 56px;
  margin-top: 24px;
}
.section3 .text, .section4 .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section4 {
  background: url(../image/sec3-back.png) center center/cover no-repeat;
  height: 44.5vw;
}
.section4 .info {
  float: right;
  position: relative;
  top: 220px;
}

.section5 {
  background: url(../image/sec4-back.png) center center/cover no-repeat;
  height: 44.3vw;
}
.section5 .container {
  padding-top: 120px;
}
.section5 .image-wrap {
  max-width: 440px;
  width: 100%;
}
.section5 .content {
  display: flex;
}
.section5 .title {
  text-align: center;
  margin-bottom: 60px;
}
.section5 h1 {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #fff;
}
.section5 .right {
  background-color: #333333;
  padding: 48px 60px;
  max-width: 880px;
  width: 100%;
}
.section5 .right h3 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  line-height: 28px;
  color: #fff;
}
.section5 .right p {
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
}
.section5 .right .title {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}
.section5 .right .suptitle {
  max-width: 760px;
}
.section5 svg {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  bottom: 5px;
  fill: #5373FD;
}

footer {
  padding-bottom: 80px;
  background-color: #000000;
}
footer .container {
  text-align: center;
  padding-top: 80px;
}
footer .title {
  margin-bottom: 8px;
}
footer .icons-wrapper {
  max-width: 275px;
  margin: 0 auto;
  margin-top: 20px;
}
footer .icons {
  display: flex;
  gap: 33.5px;
}
footer .icons a {
  font-size: 1.875rem;
  color: #fff;
}
footer .icons a:hover {
  color: #5373FD;
}
footer h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #fff;
}
footer .suptitle {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #fff;
}