* {
 padding: 0;
 margin: 0;
 box-sizing: border-box; 
}

html,body {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.h2 {
    display: flex;
    margin-top: 60px;
    margin-bottom: 39px;
    small {
    position: relative;
    left: 9px;
    top: -2px;
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 20px;
    }
    h2 {
        font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 48px;
    text-transform: uppercase;
    
    
    
    }
    
}
p {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 30px; 
}
i {
    font-style: italic;
    font-family: 'PT Sans';
    font-size: 26px;
    line-height: 48px;
    font-weight: 400;
}
 

p:last-child {
    margin-top: 33px;
}
ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
}
.header_container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
a {
    color: #000000;
    
    &:hover {
        border-radius: 5px;
        box-shadow: inset lightgray 3px 5px 6px 1px;
    }
}
.navigation {
    
    a {
        text-decoration: none;
    }
    margin-left: 3px;
    margin-top: 17px;
    margin-bottom: 10px;
    
    li {
        font-size: 24px;
        line-height: 27.5px;
    }
    li:nth-of-type(3) {
        font-family: 'Staatliches';
        

    }
    li:nth-of-type(2) {
        font-family: 'Staatliches';
        
        &::after {
            content: "/";
            margin-left: 10px;
            margin-right: 6px;

        }
    }
     li:nth-child(1) {
        margin-right: 50px;
        font-family: 'Tourney';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 18px;

    }
}
.image-wrapper {
    margin-left: 597px;
    margin-top: 4px;
}
mark {
    background-color: lightgray;
    padding: 5px 3px;
    position: relative;
    
    
}
.introduction {
    
}
.header_container {
    margin-bottom: 80px;
}
.text {
   position: relative;
   top: 9px;
}
.last {
    position: relative;
    top: 12px;
}